.container{
    
    background-color: rgba(255, 1, 1, 0.564);
    width: 1355px;
    align-items: center;
    height: 600px;
    
    padding-left: 80px;
    padding-top: 10px;
    padding-right: 80px;
    padding-bottom: 50px;
    
    text-align: center;
}                
.rahul{
    display: inline-block;
    width: 250px;
    height: 540px;
    background-color: rgba(232, 231, 227, 0.863);
    margin-left: 10px;
    margin-top: 10px;border-color: rgb(216, 255, 162);
    padding-top: 5px;
    padding-inline: 5px;
    border-radius: 20px;
}
.curved-image{
    width: 230px;
    height: 330px;
    border-radius: 210px;
    align-items: center;
}
h1 {
    color: white;
}
